Lib
Scripts
pyvenv.cfg
.vscode
PreviewerWebApp/__pycache__/*
PreviewerWebApp/static/Files/*
!PreviewerWebApp/static/Files/readme.txt
PreviewerWebApp/static/ViewerJS/*
!PreviewerWebApp/static/ViewerJS/readme.txt
1cApp/src/ConfigDumpInfo.xml
1cApp/bin
