<HTML>

<HEAD>
    <link href="{{ url_for('static', filename = 'bootstrap/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
    <script src="{{ url_for('static', filename = 'bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/jquery.min.js') }}"></script>    
    <link href="{{ url_for('static', filename = 'css/notFound.css') }}" rel="stylesheet">    
</HEAD>

<BODY>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">Файл с именем {{ _filename }} не найден на сервере.</div>                    
                </div>
            </div>
        </div>
    </div>
</BODY>

</HTML>